body {font-family:Arial, Sans-Serif;}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
a {color:#0067ab; text-decoration:none;}
a:hover {text-decoration:underline;}
.form{width: 300px; margin: 0 auto;}
input[type='text'], input[type='email'], input[type='password']
{width: 200px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: #333; font-size: 14px; margin-top: 10px;}
input[type='submit']{padding: 10px 25px 8px; color: #fff; background-color: #0067ab; text-shadow: rgba(0,0,0,0.24) 0 1px 0; font-size: 16px; box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; border: 1px solid #0164a5; border-radius: 2px; margin-top: 10px; cursor:pointer;}
input[type='submit']:hover {background-color: #024978;}



#customheader {
  padding-top: 20px;
  background: url("pexels-photo-459469.jpeg") no-repeat 0 -200px;
  border-radius:0% 0% 10% 10%;
  min-height: 120px;
  min-width: 100%;
  text-align : center;
  color: #ffffff;
  border-bottom: 1px solid #000000;
}
html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}
#forma{
	background: url("bg.jpg") no-repeat 0 -200px;
	border: 0px;
}

#footer {
	position:relative;
	right: 0;
	left: 0;
    bottom : 0;
	  border-radius:10% 10% 0% 0%;
	background-attachment:bottom;
	padding-top: 20px;
  background: url("pexels-photo-459469.jpeg") no-repeat 0 -200px;
  min-height: 100px;
  min-width: 100%;
  text-align : center;
  color: #ffffff;
  border-top: 1px solid #000000;
  margin-top:-100px;
	clear: both;
  }




